<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/style.css">
    <title>login</title>
</head>
<body>
    <div class="login-form">
        <h1>Login</h1>
        <form action="" method="post">
           <input type="text" name="user" id="user"
           placeholder="user">
           <input type="password" name="pass" id="pass"
           placeholder="password">
           <input type="submit" value="Login" class="btn-login">
        </form>
        <a href="register" class="btn-register">Register</a>  
    </div>
    
</body>
</html>